.media.stream-item {
    margin-bottom: 1rem;
}

.blogcard {
    text-align: center;
}

.navbar-brand {
    font-size: 1rem;
    font-family: 'Permanent Marker', cursive;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
