body {
    font-size: 18px;
}

.section-subheading.article-title {
    font-size: 20px;
}

.media.stream-item {
    margin-bottom: 1rem;
}

.blogcard {
    text-align: center;
}

.navbar-brand {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
}

.col-12.col-md-6.order-first img {
    margin-right: 30px;
    float: right;
    width: 60%;
    height: auto;
}
